$screen-sm: 320px;
$screen-md: 768px;
$screen-xl: 1366px;

$base-font: 'TT Lakes';

$step: 8px;
$width-burger-menu: $step * 40;

.page {
  font-family: $base-font;
  font-weight: normal;
  width: 100%;

  .page__header {
    margin: 0;

    @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
      display: flex;
    }
    @media screen and (min-width: $screen-md) and (max-width: $screen-xl) {
      display: flex;
    }
    @media screen and (min-width: $screen-xl) {
      display: none;
    }
  }

  .page__body {

    @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: $screen-md) and (max-width: $screen-xl) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media screen and (min-width: $screen-xl) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .page__main {

    @media screen and (min-width: $screen-xl) {
      margin-left: $width-burger-menu;
    }
  }
}
