$screen-sm: 320px;
$screen-md: 768px;
$screen-xl: 1366px;

$step: 8px;

$color-border-left: #41f6d7;

.heading {
    border-left: 4px solid $color-border-left;
    border-radius: 4px;
    font-size: 28px;
    font-weight: bold;
    padding: $step $step * 3;

    @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
        padding-left: $step * 2;
    }
    @media screen and (min-width: $screen-md) and (max-width: $screen-xl) {
        padding-left: $step * 3;
    }
    @media screen and (min-width: $screen-xl) {
        padding-left: $step * 4;
    }
}