$color-background: rgba(65, 246, 215, 0.2);
$color-border-focus: #B8FFEC;
$color-background-active: white;

.button-text {
  font-family: 'TT Lakes';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: inherit;
  transition: background-color 1s;
  cursor: pointer;

  &:hover {
    background-color: $color-background;
  }

  &:focus {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    outline: none;
    border: 2px solid $color-border-focus;
  }

  &--active {
    border: 2px solid $color-border-focus;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    outline: none;
    background-color: $color-background-active;
  }
}