.universal-container {
	display: flex;
	align-items: center;
 
	* {
	  margin-right: 16px;
	}
 
	*:last-child {
	  margin-right: 0px;
	}
 }
 
 .button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	transition: all 0.2s ease-out 0s;
 
	&:active,
	&:focus {
	  outline: none;
	}
 
	&:hover {
	  filter: grayscale(0.5);
	}
 
	&--burger {
	  background: $btnColor url("../../icons/burger.png") no-repeat 50% 50%;
	}
	&--call {
	  background: $btnColor url("../../icons/call.png") no-repeat 50% 50%;
	}
	&--chat {
	  background: $btnColor url("../../icons/chat.png") no-repeat 50% 50%;
	}
	&--profile {
	  background: url("../../icons/profile-1.png") no-repeat 50% 30%,
		 url("../../icons/profile-2.png") no-repeat 50% 60%, $btnColor;
	}
	&--repair {
	  background: $btnColor url("../../icons/repair.png") no-repeat 50% 50%;
	}
	&--checkstatus {
	  background: $btnColor url("../../icons/checkstatus.png") no-repeat 50% 50%;
	}
	&--close {
	  background: $btnColor url("../../icons/close.png") no-repeat 50% 50%;
	}
	&--search {
	  background: $btnColor url("../../icons/search.png") no-repeat 50% 50%;
	}
 }
 
 .button-about {
	font-family: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 40px;
	text-decoration: none;
	white-space: pre;
	color: #7e7e82;
	background-color: inherit;
	border: 2px solid transparent;
	padding-right: 16px;
	padding-left: 16px;
	cursor: pointer;
 
	@media screen and (min-width: 1120px) {
	  padding-right: 18px;
	  padding-left: 18px;
	}
 
	&:hover {
	  outline: none;
	  background-color: white;
	  border: 2px solid #b8ffec;
	  border-radius: 6px;
	}
 
	&:active {
	  color: black;
	}
 }
 
 .paragraph {
	& + & {
	  margin-top: 20px;
	}
 }
 
 .detail {
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
 
	&::before {
	  content: "";
	  display: inline-block;
	  width: 15px;
	  height: 15px;
	  margin-right: 10px;
	}
 
	&:hover {
	  opacity: 0.65;
	}
 
	&--show::before {
	  background: url("../../icons/read-more-show.png") no-repeat 50% 100%;
	}
 
	&--hide::before {
	  background: url("../../icons/read-more-hide.png") no-repeat 50% 100%;
	}
 }
 
 .links-container {
	* {
	  font-size: 16px;
	  text-decoration: none;
	  color: black;
	  font-weight: 500;
	  margin-right: 7px;
	  transition: all 0.4s ease 0s;
	}
 
	*:hover {
	  filter: opacity(0.5);
	}
 }
 
 .mini-header {
	padding: 16px;
	background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
 
	@media screen and (min-width: 768px) and (max-width: 1439px) {
	  padding-left: 24px;
	}
	@media screen and (min-width: 1440px) {
	  padding-left: 32px;
	}
 
	&__title {
	  font-family: TT Lakes, Arial;
	  font-size: 16px;
	  font-weight: 400;
	  line-height: 24px;
	  text-transform: uppercase;
	  color: #7e7e82;
	}
 }
 
 .brands-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 240px;
	height: 72px;
	background-color: white;
	padding-right: 16px;
	padding-left: 16px;
	border: 1px solid #eaeaea;
	border-radius: 6px;
	box-sizing: border-box;
 
	@media screen and (min-width: 768px) and (max-width: 1439px) {
	  width: 224px;
	}
 }
 
 .presslink {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #ff3e79;
	background: white url("../../icons/arrow.png") no-repeat 50% 50%;
	cursor: pointer;
	transition: all 0.2s ease-out 0s;
 
	&:hover {
	  filter: opacity(0.5);
	}
 }
 
 .divider {
	width: 2px;
	height: 32px;
	background: #eaeaea;
	border-radius: 1px;
 }
 
 .mail-link {
	font-size: 16px;
	font-weight: 500;
	color: black;
	text-decoration: none;
 }
 
 .phone-link {
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	color: black;
	text-decoration: none;
 }
 
 .hidden {
	display: none;
 }
 
 .blur {
	filter: blur(1.5px);
 }
 
 .field-form {
	padding: 16px;
	width: 100%;
	border-radius: 8px;
	border: 1px solid #eaeaea;
	box-sizing: border-box;
	font-size: 16px;
	font-family: TT Lakes, Arial;
 
	&::-webkit-input-placeholder {
	  opacity: 0.6;
	}
	&::-moz-placeholder {
	  opacity: 0.6;
	}
	&:-moz-placeholder {
	  opacity: 0.6;
	}
	&:-ms-input-placeholder {
	  opacity: 0.6;
	}
 
	&:active,
	&:focus {
	  outline: none;
	}
 
	&--l {
	  height: 118px;
	  resize: none;
	}
 }
 
 .private-text {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #7e7e82;
	margin-top: 0px;
	margin-bottom: 0px;
 }
 
 .private-link {
	color: $btnColor;
	text-decoration: none;
 }
 
 .modal-submit {
	width: 136px;
	height: 32px;
	text-align: left;
	text-indent: 10px;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 32px;
	border-radius: 16px;
	border: 0px;
	background: $btnColor url("../../icons/submit.png") no-repeat 85% 50%;
	cursor: pointer;
	transition: all 0.2s ease-out 0s;
 
	&:active,
	&:focus {
	  outline: none;
	}
 
	&:hover {
	  filter: grayscale(0.3);
	}
 }
 
 .technics-button {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	width: 240px;
	height: 160px;
	background-color: white;
	border: 1px solid #eaeaea;
	border-radius: 6px;
	padding: 16px;
 
	@media screen and (min-width: 768px) and (max-width: 1439px) {
	  width: 224px;
	}
 
	*:last-child {
	  align-self: flex-end;
	}
 
	&__text {
	  letter-spacing: -0.2px;
	  font-weight: 500;
	}
 }
 
 .price-button {
	position: relative;
	width: 260px;
	height: 200px;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: white;
	padding: 16px;
 
	&__title {
	  opacity: 0.2;
	  font-weight: 600;
	  font-size: 14px;
	  margin-bottom: 2px;
	}
	&__text {
	  font-size: 14px;
	  line-height: 18px;
	}
	&__block + &__block {
	  margin-top: 16px;
	}
	&__submit {
	  width: 119px;
	  position: absolute;
	  right: 16px;
	  bottom: 16px;
	}
 }
 
 .noScroll {
	overflow: hidden;
 }
 
 .hideScroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
 
	&::-webkit-scrollbar {
	  width: 0px;
	  height: 0px;
	}
 }
 
 .globalPadding {
	padding-right: 17px;
 }
 
 .transition {
	transition: filter 0.5s ease;
 }