$border-color: #EAEAEA;
$color-box-shadow: #FF3E79;

$step: 8px;

.button-device {
  display: flex;
  cursor: pointer;

  &--hidden {
    display: none;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 30 * $step;
    height: $step * 20;
    box-sizing: border-box;
    cursor: pointer;
    padding: $step * 2;
    border: 1px solid $border-color;
    background-color: white;
    border-radius: 6px;
  }

  &__title {
    font-family: 'TT Lakes Medium';
    font-size: $step * 2;
    line-height: $step * 3;
    align-self: flex-start;
  }

  &__button {
    transition: filter 0.5s;

    &:hover {
      filter: drop-shadow(0 0 8px $color-box-shadow);
    }
  }

}