.contacts {
	margin-top: auto;
	padding-left: 24px;
 
	@media screen and (min-width: 1440px) {
	  margin-top: 180px;
	}
 
	&__mail {
	  margin-top: 16px;
	}
 
	&__phone {
	  margin-top: 12px;
	}
 
	&__language {
	  margin-top: 40px;
	}
 }