.content {
	@media screen and (min-width: 768px) {
	  display: flex;
	  justify-content: center;
	}
	@media screen and (min-width: 1440px) {
	  justify-content: flex-start;
	}
 
	&__text {
	  position: relative;
	  font-size: 14px;
	  @media screen and (min-width: 768px) {
		 width: 312px;
		 margin-right: 48px;
	  }
	  @media screen and (min-width: 1440px) {
		 width: 450px;
		 margin-right: 36px;
	  }
	}
 
	&__fragment--1 {
	  margin-top: 0px;
	  @media screen and (min-width: 1440px) {
		 margin-top: 10px;
	  }
	}
	&__fragment--2 {
	  @media screen and (max-width: 767px) {
		 display: none;
	  }
	}
	&__fragment--3 {
	  @media screen and (max-width: 1439px) {
		 display: none;
	  }
	}
	&__fragment--4 {
	  display: none;
	}
 
	&__divider {
	  position: absolute;
	  left: -15px;
	  top: -2px;
	  width: 1px;
	  height: 100%;
	  background-color: black;
	  opacity: 0.1;
	  display: none;
 
	  @media screen and (min-width: 1100px) and (max-width: 1439px) {
		 display: block;
	  }
	}
 
	&__picture {
	  background: url("../../img/image.png") no-repeat;
	  background-size: contain;
	  border-radius: 5px;
 
	  @media screen and (max-width: 767px) {
		 height: 180px;
		 background-position: 50%;
	  }
	  @media screen and (min-width: 768px) {
		 width: 360px;
		 height: 210px;
	  }
 
	  @media screen and (min-width: 1440px) {
		 width: 530px;
		 height: 310px;
	  }
	}
 }