.menu {
	display: flex;
	overflow: auto;
 
	@media screen and (max-width: 767px) {
	  margin-top: 24px;
	  margin-bottom: 24px;
	}
	@media screen and (min-width: 768px) and (max-width: 1439px) {
	  margin-top: 32px;
	  margin-bottom: 32px;
	}
	@media screen and (min-width: 1440px) {
	  flex-wrap: wrap;
	  margin-top: 8px;
	}  
 
	&__button--brand {
	  @media screen and (max-width: 1439px) {
		 display: none;
	  }
	}
	&__button--devices {
	  @media screen and (min-width: 1440px) {
		 display: none;
	  }
	}
	&__button--price {
	  @media screen and (max-width: 767px) {
		 display: none;
	  }
	}
	&__button--address {
	  @media screen and (max-width: 1439px) {
		 display: none;
	  }
	}
	&__button--special-prices {
	  @media screen and (max-width: 767px) {
		 display: none;
	  }
	}
	&__button--reviews {
	  @media screen and (max-width: 1439px) {
		 display: none;
	  }
	}
 }