.price {
	&__slider {
	  .swiper-slide {
		 width: 260px;
		 padding: 16px 8px 40px 8px;
	  }
	}
 
	&__section {
	  margin: 24px;
	  @media screen and (max-width: 767px) {
		 display: none;
	  }
	  @media screen and (min-width: 1440px) {
		 margin: 32px;
	  }
	}
 
	&__table {
	  width: 100%;
	  border-collapse: collapse;
	  font-size: 14px;
 
	  th {
		 text-align: left;
		 padding: 10px 16px 16px 16px;
		 opacity: 0.2;
	  }
	  td {
		 // border: 1px solid red;
		 background-color: white;
		 padding: 16px 0px 16px 16px;
	  }
	  tr td:last-child {
		 width: 135px;
	  }
	  tr + tr {
		 border-top: 1px solid #f2f2f2;
	  }
	  tr:nth-child(2) td:first-child {
		 border-radius: 8px 0 0 0;
	  }
 
	  tr:nth-child(2) td:last-child {
		 border-radius: 0 8px 0 0;
	  }
 
	  tr:last-child td:first-child {
		 border-radius: 0 0 0 8px;
	  }
 
	  tr:last-child td:last-child {
		 border-radius: 0 0 8px 0;
	  }
	}
 
	&__submit {
	  width: 119px;
	}
 
	&__text {
	  max-width: 421px;
	  margin-bottom: 16px;
	  font-size: 14px;
	  line-height: 20px;
	}
 
	&__link {
	  text-decoration: none;
	  color: black;
	  font-weight: 500;
	  cursor: pointer;
 
	  &::after {
		 content: "";
		 display: inline-block;
		 width: 15px;
		 height: 15px;
		 background: url("../../img/more.svg") no-repeat 50% 50%;
		 margin-left: 5px;
		 vertical-align: middle;
	  }
	}
 
	&__footer {
	  @media screen and (max-width: 767px) {
		 padding: 0px 25px 0px 16px;
	  }
	  @media screen and (min-width: 768px) and (max-width: 1439px) {
		 padding: 0px 24px;
	  }
	  @media screen and (min-width: 1440px) {
		 padding: 0px 32px;
	  }
	}
 }