.title {
	@media screen and (min-width: 1440px) {display: flex;}
 
	&__highlight {
	  position: absolute;
	  width: 4px;
	  height: 40px;
	  background: #41f6d7;
	  border-radius: 0px 5px 5px 0px;
	  left: 0px;
	  @media screen and (min-width: 1440px) {border-radius: 0;}
	}
 
	&__text {
	  font-size: 28px;
	  line-height: 40px;
	  @media screen and (min-width: 1440px) {margin-right: auto;}
	}
 
	&__label {
	  font-weight: 500;
	  cursor: pointer;
	  @media screen and (max-width: 1439px) {display: none;}
	}
 
	&__label + &__label {
	  margin-left: 32px;
	}
 
	&__button {
	  vertical-align: middle;
	  margin-left: 8px;
	}
 }