$placeholder-color: #B5B6BC;
$color-border: #EAEAEA;

$step: 8px;

.form-element {
  color: $placeholder-color;
  resize: none;
  padding: $step $step * 2;
  border: 1px solid $color-border;
  border-radius: $step;
}